<header id="banner" class="wrapper d-flex justify-content-center align-items-center">
  <div>
    <div class="inner">
      <div class="big-title">{{page.subtitle}}</div>
    </div>
    <a href="docs/" class="site-button banner-button">{{ __('index.get_started') }}</a>
  </div>
  <div class="video-mask"></div>
  <div class="video-bg">
    <video class="bgvid"id="bgvid" autoplay loop muted>
      <source src="/video/video1.mp4"  type="video/mp4" >
    </video>
  </div>
</header>

<div id="content-wrap">
  <div class="wrapper">
    <div class="inner">
      {{ page.content }}
    </div>
  </div>
</div>