---
layout: index
subtitle: YOUR NEW CLOUD HQ<br>IN THE PALM OF YOUR HAND
comments: false
---
.section-head.center.wt-small-separator-outer.m-t50
  h2.big-title Play with ZimaBoard
.section-content
  .row.justify-content-center.d-flex
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-TinkerFriendly")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Quick Manual
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/CasaOS-System-Introduction")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-operating-system")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Play with multiple systems
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/Dedicated-system-base-functions")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Multimedia")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Audio-visual entertainment center
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/2.5-inch-Lightweight-Data-Server")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Morethan")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Hardware Expansion Capability
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/docs/Git-Local-Private-Storage")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-One_Solution_for_Two_Scenarios")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Diversified server applications
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.
    .col-lg-4.col-md-6.m-b30
      .wt-box.d-icon-box-one.bg-white.shadow.card1
        a(href="/faq/")
          .wt-icon-box-wraper.m-b40
            .icon-xl.inline-icon
              span.icon-cell.site-text-primary
                i(class="icon-Centralize_Your_Personal_Content")
          .d-icon-box-title.title-style-2.site-text-secondry
            h3.s-title-one Technical Support
          .d-icon-box-content
            p ZimaBoard is a low-cost single board server designed for makers and geeks like you. It has both the expandability of an x86 SBC and the appropriate power of a microserver.

